@model ProductStore.Models.ViewModels.CartIndexViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Cart</title>
</head>
<body>
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Ilość</th>
                <th>Produkt</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
        @if (Model.Cart.GetLines.Any()) {
            foreach (var cart in Model.Cart.GetLines)
            {
            <tr>
                <td>@cart.Quantity</td>
                <td>@cart.Product.ProductName</td>
                <td>@($"{cart.Product.UnitPrice:C2}")</td>
            <td>
                    <form asp-controller="Cart" asp-action="RemoveCart" method="post">
                        <input type="hidden" name="productId" value="@cart.Product.ProductID" />
                        <input type="hidden" name="quantity" value="@cart.Quantity" />
                        <button type="submit" class="btn btn-outline-danger">Usuń</button>
                    </form>
                </td>
            </tr>
            }
        }
        else
        {
            <tr><td colspan="3" class="text-center">Twój koszyk jest pusty</td></tr>
        }

        <tr>
            <td class="text-right" colspan="2">Razem:</td>
            <td>@($"{Model.Cart.ComputeAllValue():C2}")</td>
        </tr>
        </tbody>
</table>
</div>
</body>
</html>