@model ProductList
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>
<body>
    <div product-list="@Model" class="container-fluid">
        @if (Model.Products.Count() > 0)
        {
            foreach (var product in Model.Products)
            {
                <div class="card" style="margin: 1%;">
                    <div class="card-header">
                        <div>
                            <b>@product.ProductName</b>
                            <span style="float: right" class="badge-pill badge-secondary"> @($"{product.UnitPrice:C2}")</span>
                            <span model="@Model.Categories" category-id="@product.CategoryID" ></span>
                        </div>
                    </div>
                    <div class="card-body">  @product.QuantityPerUnit 
                        <form asp-action="AddToCart" asp-controller="Cart" method="post">
                            <input type="hidden" name="productID" value="@product.ProductID"/>
                            <button type="submit" class="btn btn-default" style="float: right">Dodaj do koszyka</button>
                        </form>
                    </div> 
                </div>
            }
        }
    </div>
</body>
</html>